button.active {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
}
button.active:hover {
    background-color: rgb(40, 31, 117);
}